body{
    color: #ececec;
    display: flex;
    flex-direction: column;
    font-family: 'Cairo', sans-serif;
    background-color: #1a0800;
    margin: 0;
    padding: 0;
}

.header-container{
    margin-top: 14vh;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 6rem;
    text-align: center;
}

.page-body-container{
    color: #ececec;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(16, 16, 16, 0.75);
}

.page-body{
    padding: 32px;
}

.page-body li {
    color: #ffed91;
}

#twitch-embed iframe{
    width: 100%;
    height: 100%;
}

.twitch-container{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#twitch-embed{
    width: 50%;
    height: 50vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    position: relative;
    justify-content: center;
}

.navbar{
    background: linear-gradient(0deg, rgba(50,50,50,0.50) 6%, rgba(255,237,145,1.0) 150%);
    backdrop-filter: blur(16px) saturate(125%) brightness(150%);
    -webkit-backdrop-filter: blur(16px) saturate(125%) brightness(150%);
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #ececec;
    padding: 1rem;
    display: block;
    text-align: center;
}

.navbar-links li:hover{
    background: linear-gradient(0deg, rgba(255,237,145,0.5) -7%, rgba(50,50,50,0.0) 75%);
}

.footer-container{
    color: #ffed91;
    margin-top: 25vh;
    margin-bottom: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 800px){
    .title{
        font-size: 4.5rem;
        margin-top: 10vh;
    }

    .page-body{
        margin-bottom: 8vh;
    }

    #twitch-embed{
        width: 75%;
    }

    .navbar{
        position: fixed;
        overflow: hidden;
        top: auto;
        bottom: 0;
        width: 100%;
    }
}
