body{
    font-family: 'Cairo', sans-serif;
    background-color: #161616;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.navbar{
    z-index: 8;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateBg 10s linear infinite;
    background-image: linear-gradient(white -25%,#ffee8e 150%);
    color: #323232;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #323232;
    padding: 1rem;
    display: block;
    text-align: center;
}

.navbar-links li:hover{
    background-image: linear-gradient(#ffee8e -25%, white 150%);
}

section{
    font-size: 1rem;
    padding: 2rem;
    margin-top: -25vh;
    background-color: rgba(16,16,16,0.83);
    backdrop-filter: blur(16px) brightness(200%);
    -webkit-backdrop-filter: saturate(180%) blur(16px);
    color: white;
}

.web-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 50vh;
}

#twitch-embed{
    width: 100%;
    height: 0%;
    position: relative;
    overflow: hidden;
    padding: 0 0 56.25%;
}

#twitch-embed iframe{
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.video-container{
    transform: translateZ(-10px) scale(2);
}

.video-container, iframe{
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.twitch-container{
    width: 50vw;
    height: 50vh;
    margin-top: -18vh;
    transform: translateZ(-5px) scale(1.5px);
}

.title{
    font-size: 6.5rem;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 5px black;
    transform: translateZ(-5px) scale(1.5);
}

@media screen and (max-width: 800px){
    .title{
        font-size: 4.5rem;
        margin-top: 10vh;
    }

    section{
        margin-top: -50vh;
    }

    .twitch-container{
        margin-top: -5vh;
        width: 75vw;
        height: 75vh;
    }
}
